.container {
  border: 2px solid #000;
  padding: 20px;
  margin: 10px 0;
 
}

.box4 img{
  width: 90%;
  height: 20vh;
}

.box9 img{
  width: 100%;
  height: 20vh;
}

/* .t1{
  background-image: linear-gradient(rgba(10, 3, 71, 0.872),rgb(215, 99, 99));
} */

/* .box19,.box26,.box33,.box40{
  background-image: linear-gradient(rgba(10, 3, 71, 0.872),rgb(215, 99, 99));

} */

.box22 img{
  width: 100%;
}


.box19,.box26,.box33,.box40{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}

.box51{
  border: 2px solid #000;
  padding: 20px;
  margin: 10px 0;

}
.card {
  width: 15rem;
  transition: transform 0.3s ease;
  
}

.card:hover {
  transform: scale(1.05);
 
}

.c1{
  color: black;
  
}

.i1{
  font-size: 30px;
  transition: transform 0.3s ease;
}

.i1:hover{
  transform: scale(2);

}

.box47{
  border: none;
}

.card-text{
  letter-spacing: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

.card-text:hover{
  letter-spacing: 3.5px;
}
.card img{
  width: 100%;
  height: 30vh;
}

.foot,.box19,.box26,.box33,.box40{
  background-image: linear-gradient(white,grey);
}

.box51{
  transition: transform 0.3s ease;
  letter-spacing: 3px;
  border-radius: 15px;
}

.box51:hover{
  transform: scale(1.1);
  letter-spacing: 4px;
}

.foot1{
  display: flex;
  justify-content: center;
  align-items: center;
}


