.container-fluid{
  border: 1px solid black;
  padding: 20px;

}
.box3 img{
  width: 100%;
}
.box10{
  padding: 0px;
}
.box10 img{
  width: 100%;
}

.box13,.box14{
  border: 1px solid black;
  box-shadow: 10px 10px 15px rgba(37, 36, 36, 0.3);
  border-radius: 5%;
  padding: 15px;
  

}
.box13c,.box13d{
  border: 1px solid black;
  width: 15vw;
  padding: 4px;
  border-radius:5%;
}

  

.box13c:hover{
  background-color: red;
  color: white;
}

.box13d:hover{
  background-color: red;
  color: white;
}

.box13e{
  border: 1px solid black;
  padding: 4px;
  width: 37vw;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  color: white;
  cursor: pointer;
}

.box14g{
  border: 1px solid black;
  padding: 4px;
  width: 20vw;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  color: white;
  cursor: pointer;

}

.box14c input{
  height: 40px;
  width: 100%;
  border-radius: 5%;
  border: 1px solid black;
}

.box14d input{
  height: 40px;
  width: 100%;
  border-radius: 5%;
  border: 1px solid black;
  

}

.box14e input{
  height: 40px;
  width: 100%;
  border-radius: 5%;
  border: 1px solid black;

}

.box14a{
  padding: 0px;
}

#nav{
  color: black;
}

#nav:hover{
  color: red;
}

.card{
  
  box-shadow: 10px 10px 15px rgba(37, 36, 36, 0.3);
  border-radius: 5%;
  padding: 10px;
  transition: transform 0.5s ease;

}
.strike{
  text-decoration: line-through;
  font-size: 10px;
}
.f1{
  font-size: 10px;

}
.b1{
  color: rgb(4, 149, 4);
  font-size: 15px;
}
.card1 img{
  width: 100%;
  height: 20vh;
}
.box25a{
  border: 1px solid black;
  padding: 3px;
  width: 10vw;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  color: white;
  cursor: pointer;
  

}
.card1{
  height: 50vh;
}
.box23,.box22{
  border: none;
}

.card:hover{
  transform: scale(1.05);
}
.box31{
  border: 1px solid black;
  box-shadow: 10px 10px 15px rgba(37, 36, 36, 0.3);
  height: 85vh;
  border-radius: 10%;

}
.box31 img{
  width: 100%;
  height: 15vh;
  border-radius: 13%;
}
.r1{
  border: 1px solid black;
  padding: 3px;
  width: 15vw;
  background-color: red;
  
  border-radius: 5%;
  color: white;
  cursor: pointer;

}
.box31a,.box31b,.box31c,.box31d{
  display: flex;
  justify-content: center;
  align-items: center;
}
.checked {
  color: orange;
}


.box32a{
  border: 1px solid black;
  padding: 2px;
  box-shadow: 10px 10px 15px rgba(37, 36, 36, 0.3);
  

}
.box32d img{
  width: 100%;
  border-radius: 10%;
  height: 25vh;
  border: 2px solid black;
}
.box33{
  padding: 55px;
}
.box34{
  border: none;
}

.tel2{
  border: 2px solid black;
  margin-bottom: 10px;
}

.box40{
  display: flex;
  justify-content: center;
  align-items: center;
}
.c1{
  font-size: 30px;
  color: red;
}

.c2{
  font-size: 30px;
  color: blue;
}

.c3{
  font-size: 30px;
  color: rgb(107, 107, 242);
}

.c4{
  font-size:30px;
  color: #000;
}

.box41{
  width: 100px;
  height: 50px;
  border-radius: 40%;
  border: 1.5px solid rgb(249, 246, 246);
  transition: transform 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box41:hover{
  transform: scale(1.25);

}

.foot1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  padding: 0px !important;
  
}
.box38,.te1,.foot1{
  border: none;
}
.box38{
  background-color: rgb(130, 4, 4);
  padding-bottom: 25px;
  padding-top: 0px;
}