.container {
  border: 2px solid #000;
  padding: 20px;
  margin: 10px 0;
 
}

.box8,.box9,.box14,.box13,.box15,.box16,.box5,.box14{
  border: 1px solid #000;
  padding: 20px;
  margin: 10px 0;

}

.box1,.box2,.box4,.box11{
  border: none;
 
}

.box121{
  /* background-image: linear-gradient(orange,yellow); */
  background-color: rgb(46, 46, 46);
}

.box11 img{
  width: 100%;
  height: 20vh;
}

.box11{
  display: flex;
  justify-content: center;
  align-items: center;
}


.box12 h1{
  width: 100%;
}

.nav,.box10{
  background-image: linear-gradient(rgb(73, 72, 72),rgb(208, 208, 208));
}

.box3 img{
  width: 100%;
  height: 60vh;
}

.t1{
  font-size: 22px;
  letter-spacing: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box5{
  background-image: linear-gradient(rgb(73, 72, 72),rgb(208, 208, 208));
  height: 6vh;
  display: flex;
  justify-content:left;
  align-items: center;
}

.box8{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.box8 img{
  width: 100%;
}


.t2,.t3,.t4{
  color: aliceblue;
}

.t5{
  font-size: 22px;
  letter-spacing: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.box13,.box14,.box15,.box16 img{
  width: 100%;
}

.p1,.p2,.p3,.p4{
  border: 1px solid #000;
  margin: 10px 0;
  height: 8vh;
  padding: 4px;
  background-image: linear-gradient(rgb(73, 72, 72),rgb(208, 208, 208));
  font-size: 15px;
  letter-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.box17 img{
  width: 100%;
}

.t6,.t7,.t8{
  font-size: 22px;
  letter-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.c1{
  color: rgb(13, 13, 12);
}

.foot{
  display: flex;
  justify-content: center;
  align-items: center;
}


