.container {
  border: 2px solid #000;
  padding: 20px;
  margin: 10px 0;
 
}


.box1{
  background-color: rgb(198, 201, 200);
}

.box3{
  border: none;
}

.box2{
  text-align: center;
  color: rgb(22, 13, 1);
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-stretch: ultra-expanded;
  letter-spacing: 3px;
  background-color: rgb(199, 198, 186);
  transition: transform 0.3s ease, letter-spacing 0.3s ease, color 0.3s ease;
}

.box2:hover{
  color: rgb(6, 99, 99);
  letter-spacing: 5px;
}

.carousel-item img {
  width: 100%;
  height: 500px; 
  object-fit: cover; 
}
.carousel-inner {
  overflow: hidden;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%; 
}

.box5,.box6,.box7{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text{
  color: rgb(14, 14, 1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

.card-text:hover{
  color: rgb(58, 147, 172);
}

.box4,.box15{
  background-color: rgb(193, 191, 189);
}

.box12{
  background-color: rgb(170, 154, 132);
}

.card {
  width: 15rem;
  transition: transform 0.3s ease;
  
}

.card:hover {
  transform: scale(1.05);
}


.container{
  border-radius: 5%;
}

.box{
  border-radius: 0%;
}
.box2{
  border-radius: 10%;
  height: 7vh;
  font-size: 25px;
}

.box1{
  border-radius: 0%;
}


.box13 img {
  width: 100%;
  height: 40vh; 
  object-fit: cover;
  border-radius: 20%;
  transition: transform 0.3s ease;
}


.box13 img:hover{
  transform: scale(1.05);

}

.box14{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  transition: transform 0.3s ease, letter-spacing 0.3s ease, color 0.3s ease;
}

.tag:hover{
  letter-spacing: 2px;
  color: rgb(6, 99, 99);
}



